@import "tailwindcss";

:root {
  font-size: 16px;
  @apply text-primary transition-all duration-300 ease-in-out;
}

@theme {
  --color-primary: #e0e0e0;
  --color-secondary: #aaaaaa;
  --color-accent: #ffb86c;
  --color-link: #8be9fd;
  --color-ui: #bd93f9;

  --color-bgPrimary: #0f0f0f;
  --color-bgSecondary: #121212;
}

.site {
  @apply justify-center cursor-pointer select-none h-full flex items-center transition-all duration-450 ease-in-out border-transparent border-b-4 border-solid;
  box-sizing: border-box;
  min-width: 4rem;
}

.site:focus {
  @apply border-orange-500 text-accent font-bold outline-0;
}

.site:hover {
  @apply border-orange-500 text-accent font-bold;
}

@media only screen and (max-width: 1440px) {
  :root {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1280px) {
  :root {
    font-size: 12px;
  }
}

@media only screen and (max-width: 960px) {
  :root {
    font-size: 10px;
  }
}

.input {
  @apply border-2 border-white transition-all duration-300 focus:border-orange-500 focus:outline-none focus:border-2 box-border px-2 py-1;
}

.gridItem {
  @apply col-span-1 mb-4 flex items-center gap-2;
}

select option {
  background-color: black;
  color: white;
  border: transparent;
}

.label {
  width: 120px;
  display: inline-block;
}

.highlight {
  @apply text-accent;
}

@layer utilities {
  /* In global.css or another global stylesheet */
  .swiper-scrollbar {
    @apply bg-primary!;
    height: 8px !important;
    border-radius: 8px !important;
  }

  .swiper-scrollbar-drag {
    @apply bg-orange-500!;
    border-radius: 8px !important;
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    @apply text-accent;
  }

  .swiper-pagination-bullet {
    @apply bg-secondary!;
  }
  .swiper-pagination-bullet-active {
    @apply bg-primary!;
  }
}

.transition {
  transition: all 0.3s ease-in-out;
}

/* For Chrome, Edge, and Safari */
.scroll-container {
  overflow: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.scroll-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px black inset !important;
  -webkit-text-fill-color: #ffb86c !important;
}

.login-option {
  @apply border-2 border-white px-2 py-1 rounded-2xl cursor-pointer transition-all duration-300;
}

.login-option:focus {
  @apply outline-none border-accent ring-2 ring-accent;
}

.login-option:hover {
  @apply border-accent;
}
